<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	         http://www.springframework.org/schema/beans/spring-beans.xsd
		 http://www.springframework.org/schema/context">

    <!--需要配置实例化前的修改逻辑，用来替换占位符-->
    <bean class="com.zzzi.springframework.beans.factory.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:token.properties"/>
    </bean>

    <!--新增一个手动配置的bean来测试占位符替换是否会导致重复的属性列表-->
    <bean class="com.zzzi.springframework.bean.User">
        <property name="name" value="测试"/>
    </bean>
    <!--只配置包扫描路径就可以将这个路径下的所有包扫描到注册表中-->
    <context:component-scan base-package="com.zzzi.springframework.bean"/>

</beans>