<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <!--这里配置bean的作用域是一个原型模式-->
    <bean id="userService" class="com.zzzi.springframework.bean.UserService" scope="prototype">
        <property name="uId" value="2"/>
        <property name="company" value="腾讯"/>
        <property name="location" value="深圳"/>
        <!--这里需要的应该是ProxyBeanFactory内部真正的bean对象-->
        <property name="userDao" ref="proxyUserDao"/>
    </bean>
    <!--不配置作用域就默认是单例-->
    <!--这里配置的是FactoryBean，内部定义了真正需要使用的Bean的信息-->
    <bean id="proxyUserDao" class="com.zzzi.springframework.bean.ProxyBeanFactory"/>

</beans>